<!DOCTYPE html>
<html>
	<head>
		<title>Verdaemon</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles/skeleton.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/fonts/opensans/css/all.css">
    <link rel="stylesheet" href="/fonts/fontawesome/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script>
			$(function(){ $("#included-header").load("/html/templates/header.html"); });
			$(function(){ $("#included-footer").load("/html/templates/footer.html"); });
		</script>
	</head>

	<body>
		<header id="included-header"></header>

		<main>
			<section class="content">
				<div class="intro">
					<h1>Home</h1>
					<hr>
					<p>Welcome to Verdaemon</p>
					<p>
						This website is composed of casual ramblings about software from
						two experienced sysadmins. If you liked one of our posts, check out our
						<a href="/projects">projects</a>. Alternatively, feel free to browse
						the <a href="/posts/archive">archives</a> to find a topic of interest.
					</p>
				</div>

				<div>
					<h2>Featured Posts</h2>
					<hr>
					<div class="featured-posts">
						<div class="featured-post">
							<div class="featured-left">
								<img src="/media/pid/<%= post0.pid %>/<%= post0.banner %>">
							</div>
							<div class="featured-right">
								<a href="/posts/<%= post0.pid %>/"><%= post0.title %></a>
								<p>By <%= post0.author %></p>
							</div>
						</div>
						<div class="featured-post">
							<div class="featured-left">
								<img src="/media/pid/<%= post1.pid %>/<%= post1.banner %>">
							</div>
							<div class="featured-right">
								<a href="/posts/<%= post1.pid %>/"><%= post1.title %></a>
								<p>By <%= post1.author %></p>
							</div>
						</div>
					</div>
				</div>

				<div class="contrib">
					<h2>Contributions</h2>
					<hr>
					<p>This website was created using:</p>
					<ul>
						<li><a href="https://expressjs.com/">Express</a></li>
						<li><a href="https://rsms.me/markdown-wasm/">markdown-wasm</a></li>
						<li><a href="https://cure53.de/purify">DOMPurify</a></li>
						<li><a href="https://fontawesome.com/">Font Awesome</a></li>
					</ul>
				</div>
			</section>

			<section class="sidebar">
				<div class="by-tag">
					<h3>Posts By Category</h3>
					<hr>
					<ul>
						<% for (var i=0; i<tags.length; ++i) { %>
						<li><a href="/tags/<%= tags[i].Tables_in_blog_tags %>"><%= tags[i].Tables_in_blog_tags %></a></li>
						<% } %>
					</ul>
				</div>
			</section>
		</main>

		<footer id="included-footer"></footer>
	</body>
</html>