<!DOCTYPE html>
<html>
	<head>
		<title>cdaemon</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles/skeleton.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/fonts/opensans/css/all.css">
    <link rel="stylesheet" href="/fonts/fontawesome/css/all.min.css">
	</head>

	<body>
    <header><%- include("partials/header") -%></header>

		<main>
			<section class="content">
				<div class="intro">
					<h1>Home</h1>
					<hr>
					<p style="margin-bottom: 16px;">Welcome to cdaemon — casual ramblings about software from experienced sysadmins.</p>
					<p>
						If you like the content and want to contribute, head over to our <a href="/contact">contact</a> page.
						Alternatively, feel free to browse the <a href="/posts">post archive</a> or check out our <a href="/projects">projects</a> to find a topic of interest.
					</p>
				</div>

				<div>
					<h3 class="featured-header">Featured Posts</h3>
					<div class="featured-posts">
						<% for (var i=0; i<2; ++i) { %>
							<% var author = JSON.parse(posts[i].author); %>
							<div class="featured-post">
								<div class="featured-top">
									<a href="/posts/<%= posts[i].pid %>"><img src="/media/pid/<%= posts[i].pid %>/<%= posts[i].banner %>"></a>
								</div>
								<div class="featured-bottom">
									<h1><a href="/posts/<%= posts[i].pid %>"><%= posts[i].title %></a></h1>
									<p>By <a href="/users/<%= author.username %>"><%= author.firstname + " " + author.lastname %></a></p>
								</div>
							</div>
						<% } %>
					</div>
				</div>

				<div class="contrib">
					<h2>Contributions</h2>
					<hr>
					<p>This website was created using:</p>
					<ul>
						<li><a href="https://expressjs.com/">Express</a></li>
						<li><a href="https://rsms.me/markdown-wasm/">markdown-wasm</a></li>
						<li><a href="https://cure53.de/purify">DOMPurify</a></li>
						<li><a href="https://fontawesome.com/">Font Awesome</a></li>
					</ul>
				</div>
			</section>

			<section class="sidebar">
				<div class="by-tag">
					<h3>Sort By Tag</h3>
					<hr>
					<ul>
						<% for (var i=0; i<tags.length; ++i) { %>
						<li><a href="/tags/<%= tags[i].tid %>"><%= tags[i].tid %></a></li>
						<% } %>
					</ul>
				</div>
			</section>
		</main>

    <footer><%- include("partials/footer") -%></footer>
	</body>
</html>
