<!DOCTYPE html>
<html>
  <head>
    <title><%= posts[0].author %> - Verdaemon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles/post-blocks.css">
    <link rel="stylesheet" href="/styles/skeleton.css">
    <link rel="stylesheet" href="/fonts/opensans/css/all.css">
    <link rel="stylesheet" href="/fonts/fontawesome/css/all.min.css">
  </head>

  <body>
    <header><%- include("../partials/header") -%></header>

    <main>
      <h1 class="intro">Posts By <%= posts[0].author %> </h1>
      <% for (var i=0; i<posts.length; ++i) {%>
        <div class="post-block">
          <div class="post-left">
            <a href="/posts/<%= posts[i].pid %>"><img src="/media/pid/<%= posts[i].pid %>/<%= posts[i].banner %>"></a>
          </div>
          <div class="post-right">
            <h3><a href="/posts/<%= posts[i].pid %>/"><%= posts[i].title %></a></h3>
            <p>By <a href="/users/<%= posts[i].uid %>"><%= posts[i].author %></a></p>
          </div>
          <% if (posts[i].uid === uid || admin) { %>
            <div class="post-options">
              <i class="fa-regular fa-pen-to-square edit-post" id="<%= posts[i].pid %>"></i>
              <i class="far fa-trash-alt delete-post" id="<%= posts[i].pid %>"></i>
            </div>
          <% } %>
        </div>
      <% } %>
    </main>

    <footer><%- include("../partials/footer") -%></footer>

    <script src="/scripts/user.js"></script>
  </body>
</html>
