<!DOCTYPE html>
<html>
  <head>
    <title>Archive - cdaemon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles/skeleton.css">
    <link rel="stylesheet" href="/fonts/opensans/css/all.css">
    <link rel="stylesheet" href="/fonts/fontawesome/css/all.min.css">
    <style>
      .intro {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 16px;
      }

      .create-post {
        font-size: 14px;
        border: none;
        background-color: #426e88;
        color: #fff;
        padding: 8px;
      }

      h1 {
        font-family: "opensans-bold";
      }

      a {
        color: #5a5a5a;
      }

      table {
        border-collapse: collapse;
        width: 100%;
      }

      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }

      @media(max-width: 600px) {
        h1 {
          font-size: 1.8em;
        }
      }
    </style>
  </head>

  <body>
    <header><%- include("../partials/header") -%></header>

    <main>
      <div class="intro">
        <h1>Post Archive</h1>
        <% if (username) { %>
          <a href="/posts/new"><button class="create-post">Create Post</button></a>
        <% } %>
      </div>

      <table>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Published</th>
          <th>Tags</th>
        </tr>
        <% for (var i=0; i<posts.length; ++i) { %>
            <tr>
              <td><a href="/posts/<%= posts[i].pid %>"><%= posts[i].title %></a></td>
              <td><a href="/users/<%= posts[i].username %>"><%= posts[i].firstname + " " + posts[i].lastname %></a></td>
              <td><%= posts[i].date.toLocaleDateString() %></td>
              <td><%= posts[i].tags %></td>
            </tr>
        <% } %>
      </table>
    </main>

    <footer><%- include("../partials/footer") -%></footer>
  </body>
</html>
