<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> - cdaemon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles/skeleton.css">
    <link rel="stylesheet" href="/styles/post.css">
    <link rel="stylesheet" href="/styles/markdown.css">
    <link rel="stylesheet" href="/fonts/opensans/css/all.css">
    <link rel="stylesheet" href="/fonts/fontawesome/css/all.min.css">
  </head>

  <body>
    <header><%- include("../partials/header") -%></header>

    <main>
      <section class="intro" style="background-image: url('/media/<%= pid %>/<%= banner %>');">
        <div class="intro-text">
          <h1><%= title %></h1>
          <h5>By <a href="/users/<%= username %>"><%= author %></a> on <%= date %></h5>
          <% if (edit_date) { %> <h5>Edited on <%= edit_date %></h5> <% } %>
        </div>
      </section>

      <section class="body markdown-themify">
        <%- body -%>
      </section>

      <section class="tags">
        <hr>
        <h6>
          Tags:
          <% for (var i=0; i<tags.length; ++i) { %>
            <a href="/tags/<%= tags[i] %>"><%= tags[i] %></a>
          <% } %>
        </h6>
      </section>
    </main>

    <footer><%- include("../partials/footer") -%></footer>
  </body>
</html>
