<!DOCTYPE html>
<html>
  <head>
    <title><%= locals.title %> - Verdaemon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles/skeleton.css">
    <link rel="stylesheet" href="/styles/post.css">
    <link rel="stylesheet" href="/styles/markdown.css">
    <link rel="stylesheet" href="/fonts/opensans/css/all.css">
    <link rel="stylesheet" href="/fonts/fontawesome/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/scripts/skeleton.js"></script>
  </head>

  <body>
    <header id="included-header"></header>

    <main>
      <section class="intro" style="background-image: url('/media/<%= post.pid %>/<%= post.banner %>');">
        <div class="intro-text">
          <h1><%= post.title %></h1>
          <h5>By <a href="/users/<%= post.uid %>"><%= post.author %></a> on <%= date %></h5>
        </div>
      </section>

      <section class="body markdown-themify">
        <%- post.body -%>
      </section>

      <section class="tags">
        <hr>
        <h6>
          Tags:
          <% for (var i=0; i<tags.length; ++i) { %>
            <a href="/tags/<%= tags[i] %>"><%= tags[i] %></a>
          <% } %>
        </h6>
      </section>
    </main>

    <footer id="included-footer"></footer>
  </body>
</html>
